.login{
    margin-top: 120px;
    height: 350px;
    width: 300px;
    color: white;
    backdrop-filter: blur(10px);
    border-radius:10px;
    border: 2px solid gray;
    padding: 30px 30px;
    box-shadow: 0 0 10px black;
}
body {
    background-image: url(wallpaperflare.com_wallpaper.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }
h1{
    text-align: center;
}
.input-box{
    border-radius: 10px;
    height:30px;
    width: 90%;
    background-color: transparent;
    padding: 3px 10px 3px 10px;
    box-shadow: 0 0 10px gray;
    outline: none;
    border: 2px solid gray;
}
input::placeholder{
    color: white;
    padding-left: 100px;
}
#checkbox{
    height: 20px;
    width: 20px;
}
.one{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.log{
    margin-top: 10px;
    border-radius: 7px;
    height: 40px;
    width: 100%;
    background-color: #fff;
    border: none;
    outline: none;
    box-shadow: 0 0 10px black;
    font-weight: 600;
    color: #333;
    margin-bottom: 10px;
}
.sign{
    margin-top: 10px;
}